{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center my-3">{{ title | title }}</h1>
<div class="row">
{% for category in categories %}
    {% include 'blog/category_inline_list.html' with category=category %}
    
{% empty %}
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">No Category's.</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'personal:personal' %}"
                   class="btn btn-danger ">
                    Back To Personal
                </a>                    
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% if user.is_authenticated %}
    <a class="btn btn-success float-right border-warning" href="{% url 'blog:category_create' %}">Create Category </a>
{% endif %}
{% endblock %}