{% extends "base.html" %}

{% block content %}

{% if title %}
  <div class='container mt-3'>
    <h1> {{ title }} </h1>
  </div>
{% endif %}
    <div class="content-section">        
        <form class='login-form' method='POST' action="."> 
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Now</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <button type='submit' value="login" class='btn btn-danger'>Log In</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
            If you don't already have an account, <a href="{% url 'register' %}"><strong>Sig Up</strong></a> instead.
            </small>
        </div>
    </div>
{% endblock %}