{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center my-3">{{ title | title }}</h1>

{% for project in projects reversed %}
    <div class="card-group ">
        <div class="card text-white bg-dark mb-3">
            <img class="card-img-top" src="{{ project.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title | title }}</h5>
                <p class="card-text">{{ project.description | linebreaks| truncatewords:30 }}</p>
                <small class="text-muted">Last updated {{ project.updated_at }}</small>
            </div>
            <div class="card-footer">
                <a href="{% url 'projects:project_detail' project.id %}"
                   class="btn btn-primary">
                    Read More
                </a>
                
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">No Project's.</h5>
            </div>
            <div class="card-footer">
                                
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}