{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:113px;">
  <img src="{% static "my_site/zLogo1.png" %}" class="rounded float-left" alt="My image">
  <a class="navbar-brand" href="/">My Code Adventure</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    #<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item {% if request.path == '/' %}active{% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:aboutpage' %}">About</a>
      </li>
      <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:contactpage' %}">Contact</a>
      </li>      
      <li class="nav-item {% if request.path == '/resume/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:resumepage' %}">Resume</a>
      </li>
    </ul>
  </div>
</nav>