{% extends 'base.html' %}

{% block content %}
<div class='text-center'>
    <h1>{{ title }}</h1>
              
</div>
<div class='container-fluid border border-danger'>
    <div class='row'> 
        <div class='col-md-6 col-12 mx-auto' style="font-size:30px;font-weight:bold;">
            <p> About my self. </p>
            <!--p> Husband, father, geek, developer and aspiring artist.  </p>
            <p> My lates achivement has been being a stay at home dad.</p-->
            
              {{ content }}                      
            </div>
        
    </div>
</div>

{% endblock %}