{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="container1" class="container-fluid d-flex align-items-center flex-column" style="min-height:690px;color:red;">
      
    <div class="row align-items-center">
        <h1 style="font-size:74px;font-weight:bold;color:black;">Hello World, </h1>         
    </div>

    <div class="row align-items-center">
        <h1 style="font-size:74px;font-weight:bold;color:blue;">I'm &nbsp;</h1>        
        <h1 id="name">Juan</h1>        
    </div>
    
    <div class="row align-items-center">
        <h1 style="font-size:74px;color:blue;">a </h1>                 
    </div>

    <div class="row justify-content-center">
        <div class='col-md-6 col-lg-4 text-center'>
            <h1 style="font-size:74px;color:blue;"><strong>Python</strong></h1>                 
        </div>
        <div class='col-12 col-md-6 col-lg-4 text-center'>
            <h1 style="font-size:74px;color:blue;"><strong>/ Web</strong></h1>                 
        </div>
        <div class='col-12 col-md-6 col-lg-4 text-center'>
            <h1 style="font-size:74px;color:blue;"><strong>Developer</strong></h1>                 
        </div>
    </div>

    <div class="row align-items-center align-self-end mt-auto" style="position:fixed;height:1025px;">
        <h1 style="font-size:74px;"><strong>*#*</strong></h1>                 
    </div>
    
</div>

<div id="container2" class="row d-flex justify-content-center align-items-center border border-danger" style="min-height:790px;padding:50px;">            
    <div class="col-xl-4" style="z-index:1;">
    <h1>Occupational Designation: </h1>    
    <h1 style="font-size:74px;font-weight:bold;color:red;">Developer</h1>
    </div>
    <div class="col-xl-4" style="z-index:1;">
    <h1>Base of Operations: </h1>
    <h1 style="font-size:74px;font-weight:bold;color:red;">Jersey Shore, USA</h1>
    </div>
    <div class="col-xl-4" style="z-index:1;">
    <h1>Occupational Status: </h1>
    <h1 style="font-size:74px;font-weight:bold;color:red;">Freelance / Available</h1>
    </div>    
</div>

<div id="container3" class="row d-flex justify-content-center align-items-center border border-danger" style="min-height:850px;padding:50px;">
    <div class="col-12" style="width:auto;z-index:1;">
        <h1>My Skills: </h1>
    </div>
    <div class="col-12" style="width:auto;z-index:1;">
        <h1 style="font-size:74px;font-weight:bold;color:red;">Front-end: </h1>
    </div>
    <h1 style="font-size:70px;font-weight:bold;color:black;">HTML, CSS, Javascript</h1>
    <div class="col-12" style="width:auto;z-index:1;">
        <h1 style="font-size:74px;font-weight:bold;color:red;">Back-end: </h1>
    </div>
    <h1 style="font-size:70px;font-weight:bold;color:black;">PostgreSQL, Python</h1>
    <div class="col-12" style="width:auto;z-index:1;">
        <h1 style="font-size:74px;font-weight:bold;color:red;">FrameWorks: </h1>
    </div>
    <h1 style="font-size:70px;font-weight:bold;color:black;">Flask, Django</h1> 
</div>

<div id="container4" class="row border border-danger d-flex justify-content-around align-items-center" style="min-height:790px;padding:50px;">    
    <div class="col-12">
        <h1>My Work: </h1>
        <h1 style="font-size:74px;font-weight:bold;color:red;">Applications and Projects Live list.</h1>
        <a class="btn btn-success" role="button" href="{% url 'projects:projects_list' %}">Check out My Projects</a>
        <h1>OR</h1>
        <h1 style="font-size:74px;font-weight:bold;color:red;">Applications and Projects Code on github.</h1>
        <a class="btn btn-primary" role="button" href="https://github.com/jDavidZapata">Go To My GitHub</a>
        
    </div>    
    <div class="col-12">        
        <h1>My Personal Space: </h1>
        <h1 style="font-size:74px;font-weight:bold;color:red;">See My Personal Stuff</h1>
        <a class="btn btn-danger" role="button" href="{% url 'main:temppage' %}">Personal Space</a>
    </div>
</div>



{% endblock %}