{% extends 'base.html' %}

{% block content %}
<div class='text-center'>
    <h1>{{ title }}</h1>
              
</div>
<div class='container border border-danger'>
    <div class='row'>
        <div class='col'>
            
            <div class='col-md-6 col-12 mx-auto' style="font-size:30px;font-weight:bold;">
              <p> The page you tried to access is not available. </p>
              <p> It's currently under development.  </p>
              <p> This is a temporary page. </p>                         
            
              {{ content }}     

              <a class="nav-link" href="{% url 'main:homepage' %}">Back to Home</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}